.article-container {
    background-color: white;
    color: rgb(31, 30, 30);
    font-family: "Montserrat";
    padding: 1.5rem 2rem;
    padding-bottom: .8rem;
    border-bottom: 3px solid seagreen;
}
#super-article-container .row:last-child .article-container {
    border-bottom: none;
}
.article-title {
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 600;
    font-family: "Roboto Condensed";
}
.article-date {
    display: block;
    text-align: right;
    width: 100%;
    font-size: 0.8rem;
    color: rgb(77, 74, 74);
}
.article-content {
    text-align: justify;
    margin-top: 0.5rem;
    font-size: .9rem;
}
.article-link {
    margin-top: 0.5rem;
    float: right;
}
.article-link a {
    color: #ff6600;
}
#hero {
    height: auto;
    overflow-y: scroll;
}
@media(min-height: 605px) {
    #hero {
        height: 100vh;
    }
}
#title {
    font-size: 3rem;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#hero::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#hero {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
} 
