#newsfeed-container, #edition-container {
    background-color: white;
    color: rgb(31, 30, 30);
    border-bottom: 5px solid seagreen;
}
#newsfeed-header, .edition-title {
    text-transform: capitalize;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.5rem auto;
}
.edition-container {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 5px solid seagreen;
    text-align: center;
}
.edition-title {
    color: #ff6600;
    font-weight: 600;
}
#hero {
    height: auto;
    overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#hero::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#hero {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
@media (min-height: 605px) {
    #hero {
        height: 100vh;
    }
}
#title {
    font-size: 3.5rem;
}
@media (max-width: 768px) {
    #title {
        font-size: 3rem;
    }
    #subtitle {
        font-size: 2rem;
    }
}
