#hero {
    height: 100vh;
    overflow-y: scroll;
}
#subtitle {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.5rem;
}
.patrons-container img {
width: 150px;
height: 150px;
border-radius: 50%;
margin-right: 2rem;
margin-bottom: 1rem;
-webkit-transition: -webkit-transform .6s ease-in-out;
transition:         transform .6s ease-in-out;
}
.patrons-container a:hover img{
    box-shadow:  0 0 15px 10px rgb(250, 173, 79);
    z-index: 10;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
#media-patrons-col {
    border-right: 1px solid #ffffff;
}
#other-patrons-table {
    max-width: 600px;
    background-color: #ffffff;
}
#other-patrons-table table {
    height: 500px;
    overflow-y: scroll;
    display: block;
    font-family: "Montserrat", sans-serif;
}
#other-patrons-table table tbody, #other-patrons-table table tr, #other-patrons-table table tr td {
    display: block;
}
@media(max-width: 1076px) {
    #media-patrons-col {
        border-right: none;
    }
}
@media(max-width: 977px) {
    #title, #subtitle {
        font-size: 2.5rem;
    }
}